.root {
}

.section:first-child {
    margin-top: 0px;
}

.section {
    margin-top: 48px;
}

.section h4 {
    font-weight: normal;
    font-size: 32px;
    line-height: 26px;
    margin-bottom: 32px;
}

.section p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px
}

.contactForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 24px;
}

.commentInput {
    margin-top: 32px;
    grid-column: 1 / span 2;
}

.budgetRange {
  margin-bottom: 32px;
}

.customButton {
    width: 220px;
}

.contactContainer {
    margin-top: 32px;
}

.banner {
  background: #63abd9;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 36px;
}

.banner p {
  display: flex;
  justify-content: center;
  margin: 0;
}

.banner .closeContainer {
  cursor: pointer;
  position: absolute;
  line-height: 12px;
  right: 20px;
  top: 20px;
  padding: 4px;
}

.banner .closeContainer svg:hover {
  color: #457b9d;
}

@media (max-width: 800px) {
    .contactForm {
        grid-template-columns: 1fr;
    }

    .commentInput {
        grid-column: 1;
    }

    .customButton {
        width: 100%;
    }

    .commentInput {
        margin-top: 0px;
    }

    .section h4 {
        font-size: 22px;
        line-height: 26px;
    }
}
